<div id="col1">
<div class="note">注: 为了让更多的人享受到团购低价的实惠,本次团品每人只能购买一件.</div>
<form id="form1" class="yform full" name="form1" method="post" action="/add_to_order" onsubmit="return check_quantity();">
  <fieldset class="set">
    <legend class="title">填写订单</legend>
    <table cellspacing="0" cellpadding="0" width="100%">
          <tbody>
            <tr>
              <th width="300px" height="45px">预订内容</th>
              <th width="60px" align="center">单价</th>
              <th align="center">购买数量</th>
              <th>价格</th>
            </tr>
 <% for item in @cart.items do %>
    <input type="hidden" name="product_id" value="<%=item.id%>"/>
            <tr>
              <td><%=h item.title%></td>
              <td align="center"><%=h item.now_price %></td>
              <td align="center"><input onblur="javascript:countTotal();" name="buyNum" id="buyNum" value="1" title="购买的数量" type="text" size="4" class="input_b" /></td>
              <td id="totalPriceWithoutDiscount"><%=h item.now_price %>元</td>
            </tr>
 <% end %>
            <tr height="35px">
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td align="right">总价：</td>
              <td id="totalPrice" class="red"><%= item.price %>元</td>
            </tr>
          </tbody>
 </table>
  </fieldset>
   <%= tag(:input, :type => "hidden", :name =>request_forgery_protection_token.to_s, :value =>form_authenticity_token) %>
   <%= image_submit_tag("/images/btn1.png") %>
</form>
<script language="javascript">
function check_quantity(){
  //alert(q);
  var q=document.getElementById("product_quantity").value;
  document.getElementById("product_quantity").style.color="#000";
  var now_price = document.getElementById("product_now_price").innerHTML;
  //alert(now_price);
  //var total_price = document.getElementById("product_total_price").innerHTML;
  //alert(total_price);
  var order_price = document.getElementById("order_price").value;
  //alert(order_price);
  var total = eval(q*now_price);
  if(total*1 != total){
	document.getElementById("product_quantity").style.color="#f60";
  	alert("请输入合法数字");return false;
  }else{
	  //document.getElementById("product_total_price").innerHTML=total;
	  document.getElementById("order_price").value=total;
	  return true;
  }
}
</script>
</div>
<div id="col3" style="height:300px;">

</div>