<link href="/stylesheets/order.css" rel="stylesheet" type="text/css" /> 
<div style="text-align: left;">
<% form_for(@order,:html=>{:class=>'yform full'}) do |f| %>
  <%= f.error_messages %>
 <fieldset class="set">
    <legend class="title">订单支付</legend>
  <p>
    <%= f.label :user,"用户名" %>
    <%= f.text_field :user,:value=>current_user.login,:readonly=>true %>
  </p>

  <p>
    <%= f.label :product,"购买的团品" %>
    <%= f.hidden_field :product,:value=>params[:product_id] %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.hidden_field :quantity %>
  </p>
  <p>
    <%= f.label :discount %><br />
    <%= f.hidden_field :discount %>
  </p>

  <p>
    <%= f.label :order_price,"支付金额" %>
    <%= f.text_field :order_price,:value=>params[:order_price],:readonly=>true %>
  </p>

  <p>
    <%= f.label :pay_type,"请选择支付方式" %>
    <%= f.text_field :pay_type %>
    <a href="http://pay3.chinabank.com.cn/Payto?v_mid=21701769"><img src="http://merchant3.chinabank.com.cn/images/button_1.gif"/>网银在线支付</a>
  </p>
  <p>
    <%= f.submit '确认' %>
  </p>
 </fieldset>
<% end %>
</div>