<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<a href="/signup" style="border: 0;">
<img src="images/wahtpai.jpg"/></a>

<!--
 <div class="box">
        <h3>Topic One </h3>
        <div class="sub_box">
          <h2>邀请有奖</h2>
          <p>每邀请一位好友首次购买，您将获 <strong>10</strong> 元返利</p>
          <p><a href="/account/referrals" gaevent="InnerLink|Click|/InnerLink/DealSidebar/account/referrals">» 点击获取您的专用邀请链接</a></p>
          <p>&nbsp;</p>
        </div>
      </div>

      <div class="box">
        <h3>Topic One </h3>
        <div class="sub_box">
          <p>sdfsf</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>sdf </p>
        </div>
      </div>
      <br/>-->
    
<div class="side_whant">
  <% form_for(@feedback=Feedback.new) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name,"您的称呼:" %>
    <%= f.text_field :name %>
   <br/>
    <%= f.label :contact,"联系方式:" %>
    <%= f.text_field :contact %>
   <br/>
    <%= f.label :message,"填写你希望团购的信息:" %>
    <%= f.text_area :message,:cols=>24,:rows=>4  %>
  </p>
  <p>
    <%= f.submit '提  交' %>
  </p>
<% end %>
</div>

<div class="sina_twitter">
  <iframe id="sina_widget_1728333857" style="width:100%; height:500px;" frameborder="0" scrolling="no" src="http://v.t.sina.com.cn/widget/widget_blog.php?uid=1728333857&height=500&skin=wd_01&showpic=1"></iframe
</div>