<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cn" lang="cn">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>要得实惠，上团购三</title>
    <meta name="keywords"  content="团购三"/>
    <meta name="description" content="要得实惠，上团购三！团购三是成都第一个真正意义上的精品生活团购社区！团购三每天只提供一款精品生活产品，涵盖：餐厅、影剧院、酒吧、美发美体、KTV、夜店、户外运动、旅游、体育赛事，音乐会，体育健身等各种消费场所。
          当网站聚集的人数达到成团数目时，商家、店铺将提供不可思议的超低折扣！"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!--[if lte IE 7]>
    <link href="/css/patches/patch_equal_heights.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <%= stylesheet_link_tag 'layout'%>
    <%= javascript_include_tag 'jquery','jquery.validate','jquery.metadata','application' %>
    <script language="javascript">
    <% if controller.action_name =="today" -%>
      //在today页面添加计时器启动方法
       $(document).ready(function(){ GetRTime(); });
     <% end  -%>
     </script>
  </head>
  <body>
    <!-- skip link navigation -->
    <ul id="skiplinks">
      <li><a class="skip" href="#nav">跳过页眉</a></li>
      <li><a class="skip" href="#col1">跳过菜单</a></li>
    </ul>

    <div class="page_margins"><div class="page">
        <%=render :partial=>'layouts/header'%>
 <div id="main">
    <%= yield %>
 </div> </div></div>

    <%=render :partial=>'layouts/footer'%>

    <%=render :partial=>'layouts/foot_js'%>
  </body>
</html>
